.btn {
	@apply bg-stainedglass bg-opacity-40;
	color: white;
	font-family: "Inria Sans";
	border-radius: 8px;
	height: 53px;
	width: 243px;
	font-size: 20px;
	padding: 14px;
	text-align: center;
}

.btn:hover {
	@apply bg-opacity-50 transition ease-in-out delay-[50]
}
